.dropdown {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.dropdown select {
    width: 20rem;
    height: 2rem;
    border: 1px solid #987D9A;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #f0f8ff;
    color: #484D4D;
}