.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: #987D9A;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ecf0f1;
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal-btn {
    padding: 15px;
    width: 220px;
    font-size: 18px;
    background-color: #484D4D;
    color: white;
    border: none;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-btn:hover {
    background-color: lightgray;
    color: black;
}

.modal-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.incorrect-answers {
    margin: 20px 0;
    text-align: left;
}

.incorrect-answer-item {
    margin-bottom: 20px;
}

.question {
    color: black;
}

.correct {
    color: #1a8145;
    font-weight: bold;
}

.incorrect {
    color: #b32010;
}

.congratulations {
    text-align: center;
    color: #1c7e45;
}
.summary{
    text-align: left;
}
