.questionCard {
    padding: 30px;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

.questionCard-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #484D4D;
    margin-bottom: 20px;
}

.questionCard button {
    width: 45%;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f8ff;
    transition: background-color 0.3s;
}

.questionCard button:hover {
    background-color: #dcdcdc;
}

.questionCard-timer {
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(200, 10, 10);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}